<div class="row">
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'País Destino' : 'Zielland' }}:</span><span class="Secundario">{{_proServ.datosprincipales.PAISDESTINO}}</span>
    </div>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Ciudad Destino' : 'Zielstadt' }}: </span><span class="Secundario">{{_proServ.datosprincipales.CIUDADDESTINO}}</span>
    </div>
</div>
<div class="row mt-2">
    <div class="col" >
        <span  class="principal">{{ _formServ.idioma === 'COP' ? 'Presupuesto' : 'Budget' }}: </span><span class="Secundario">{{_proServ.datosprincipales.PRESUPUESTO | currency : _formServ.idioma}}</span>
    </div>
    <div class="col">
    </div>
</div>

<hr>
<div class="row">
    <h2>{{ _formServ.idioma === 'COP' ? 'Coordenadas' : 'Koordinaten' }}</h2>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Longitud' : 'Länge' }}: </span><span class="Secundario">{{_proServ.datosprincipales.LONGITUD | number:'1.2-2' }}</span>
    </div>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Latitud' : 'Breite' }}: </span><span class="Secundario">{{_proServ.datosprincipales.LATITUD | number:'1.2-2' }}</span>
    </div>
</div>
<hr>
<div class="row">
    <h2>{{ _formServ.idioma === 'COP' ? 'Clima' : 'Klima' }}</h2>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Humedad' : 'Feuchtigkeit' }}: </span><span class="Secundario">{{_proServ.datosprincipales.HUMEDAD}}%</span>
    </div>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Temperatura' : 'Temperatur' }}: </span><span class="Secundario">{{ (_proServ.datosprincipales.TEMPERATURA - 273.15) | number:'1.2-2' }}°</span>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Temperatura Máxima' : 'Maximale Temperatur' }}: </span><span class="Secundario">{{_proServ.datosprincipales.TEMPERATURAMAXIMA}}%</span>
    </div>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Temperatura Mínima' : 'Mindesttemperatur' }}: </span><span class="Secundario">{{ (_proServ.datosprincipales.TEMPERATURAMINIMA - 273.15) | number:'1.2-2' }}°</span>
    </div>
</div>
<hr>
<div class="row">
    <h2>{{ _formServ.idioma === 'COP' ? 'Información Monetaria' : 'Monetäre Informationen' }}</h2>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Moneda' : 'Währung' }}: </span><span class="Secundario">{{_proServ.datosprincipales.NOMBREMONEDA}}</span>
    </div>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Representación' : 'Darstellung' }}: </span><span class="Secundario">{{_proServ.datosprincipales.MONEDAREPRESENTACION}}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Precio ' : 'Preis' }}: </span><span class="Secundario"> {{valorunitario | currency : _formServ.idioma}} -> {{_proServ.datosprincipales.PRECIO | currency :_proServ.datosprincipales.MONEDAREPRESENTACION}}</span>
    </div>
    <div class="col">
        <span class="principal">{{ _formServ.idioma === 'COP' ? 'Presupuesto en ' : 'Budget in' }} {{_proServ.datosprincipales.MONEDAREPRESENTACION}}: </span><span class="Secundario">{{_proServ.datosprincipales.CONVERSION | currency : _proServ.datosprincipales.MONEDAREPRESENTACION}}</span>
    </div>
</div>